<% var title='Change Password' %>
  <% var page='change-password' %>
    <% var body=false %>
      <% include ../../layouts/master %>
        <section class="section">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="login-brand">
                  <img src="../../../public/assets/img/stisla-fill.svg" alt="logo" width="100"
                    class="shadow-light rounded-circle">
                </div>
                <% if(error){ %>
                  <div class="alert alert-danger alert-dismissible show fade error">
                    <div class="alert-body">
                      <button class="close" data-dismiss="alert">
                        <span>&times;</span>
                      </button>
                      <%= error %>
                    </div>
                  </div>
                  <% } %>
                    <div class="card card-primary">
                      <div class="card-header">
                        <h4>Change Password</h4>
                      </div>
                      <div class="card-body">
                        <!-- <p class="text-muted">We will send a link to reset your password</p> -->
                        <form method="POST" action="/changePassword">
                          <!-- <div class="form-group">
                            <label for="email" style="font-size: 14px;">Old Password</label>
                            <input id="email" type="text" class="form-control" name="opassword" tabindex="1" required
                              placeholder="Enter your old Password" autofocus>
                          </div> -->
                          <div class="form-group">
                            <label for="email" style="font-size: 14px;">Password</label>
                            <input id="email" type="password" class="form-control" name="password" tabindex="1" required
                              placeholder="Enter your New Password" autofocus>
                          </div>
                          <div class="form-group">
                            <label for="email" style="font-size: 14px;">Confirm Password</label>
                            <input id="email" type="password" class="form-control" name="cpassword" tabindex="1" required
                              placeholder="Enter your Confirm Password" autofocus>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4"
                              style="font-size:16px">
                              Confirm
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="simple-footer">
                      Copyright &copy; Stisla 2018
                    </div>
              </div>
            </div>
          </div>
        </section>
        
        <script>
          setTimeout(function () {
              $("div.error").fadeOut();
          }, 3000);
      </script>