<% var title='500' %>
    <% var page='errors-500' %>
        <% var body=false %>
            <% include ../../layouts/master %>
                <section class="section">
                    <div class="container mt-5">
                        <div class="page-error">
                            <div class="page-inner">
                                <h1>500</h1>
                                <div class="page-description">
                                    Whoopps, something went wrong.
                                </div>
                                <div class="page-search">
                                    <div class="mt-3">
                                        <a href="/dashboardAdminLogin">Back to Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simple-footer mt-5">
                            Copyright &copy; Stisla 2018
                        </div>
                    </div>
                </section>